.nabvbar{
  font-style: ;
}




section .navbar-brand{
    font-family: 'Poppins', sans-serif;

font-family: 'Rubik', sans-serif;

font-weight: bold;
transition: all 0.5s;
}
section .s1{
    font-family: 'Poppins', sans-serif;

    font-family: 'Rubik', sans-serif;
    font-family: 'Kaushan Script', cursive;
}

section .navbar-brand:hover{
    transform: translateY(10%);
}
section .collapse{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
    font-family: 'Kaushan Script', cursive;
    font-weight: 200;
    transition: all 0.5s;
}
@media (min-width:1200px ){
    .contaner{
        width: 1170px;
    }
        section .collapse .ss1{
            transition: all 0.5s
        }
        section .collapse .ss1:hover{
        transform: translateY(20%);
        }
        section .collapse .ss2{
           
            transition: all 0.5s;
        }
        section .collapse .ss2:hover{
        transform: translateY(20%);
        }
        section .collapse .ss3{
          
            transition: all 0.5s;
        }
        section .collapse .ss3:hover{
        transform: translateY(20%);
        }
        section .collapse .ss4{
           
            transition: all 0.5s;
        }
        section .collapse .ss4:hover{
        transform: translateY(20%);
        }
        
        section .img1{
            transition: all 0.5s;
            cursor: pointer;
        }
        section .img1:hover{
            transform: translateX(20%);
        }
        section .slid1{
           transition: all 0.3s;
           cursor: pointer;
        }
        section .slid1:hover{
            transform: translateY(10%);
        }
        section .slid2{
            transition: all 0.3s;
            cursor: pointer;
         }
         section .slid2:hover{
             transform: translateY(10%);
         }
         section .slid3{
            transition: all 0.3s;
         }
         section .slid3:hover{
             transform: translateY(10%);
         }
    }

.carousel-item{
    height: 32rem;
    background-color: rgb(186, 198, 204);
  
   background-size: cover;

   
}
.iamges11{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(images/studying.jpg);
    }
    .iamges12{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        background-size: cover;
        background-position: center;
        width: 100%;
        background-image: url(images/search11.jpg)
        }
