




section .navbar-brand{
    font-family: 'Poppins', sans-serif;

font-family: 'Rubik', sans-serif;

font-weight: bold;
transition: all 0.5s;
}


section .navbar-brand:hover{
    transform: translateY(10%);
}
section .collapse{
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    
    font-family: 'Kaushan Script', cursive;
    font-weight: 200;
    transition: all 0.5s;
}
@media (min-width:1200px ){
    .contaner{
        width: 1170px;
    }
        section .collapse .ss1{
            transition: all 0.5s
        }
        section .collapse .ss1:hover{
        transform: translateY(20%);
        }
        section .collapse .ss2{
           
            transition: all 0.5s;
        }
        section .collapse .ss2:hover{
        transform: translateY(20%);
        }
        section .collapse .ss3{
          
            transition: all 0.5s;
        }
        section .collapse .ss3:hover{
        transform: translateY(20%);
        }
        section .collapse .ss4{
           
            transition: all 0.5s;
        }
        section .collapse .ss4:hover{
        transform: translateY(20%);
        }
        
        section .img1{
            transition: all 0.5s;
            cursor: pointer;
        }
        section .img1:hover{
            transform: translateX(20%);
        }
        section .slid1{
           transition: all 0.3s;
           cursor: pointer;
        }
        section .slid1:hover{
            transform: translateY(10%);
        }
        section .slid2{
            transition: all 0.3s;
            cursor: pointer;
         }
         section .slid2:hover{
             transform: translateY(10%);
         }
         section .slid3{
            transition: all 0.3s;
         }
         section .slid3:hover{
             transform: translateY(10%);
         }
    }


.btn1{
    box-shadow: none;
    border: none;
    border-radius: 20px 50px ;
}
.bbtn1{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

